img{
    height: 50%;
     width: 50%;
     padding: 5px;
     
     //margin-left: 50%;
 }
 
 
 h2{
     margin-left: 10%;
 }
 .principal-header{
     
     border-radius: 20px;
     background: #fff;
 
 }
 .T_overview{
 font-weight: bold;
 
 }
 .analysis{
     font-weight: bold;
 }
.btn{
    padding-block: 5px;
    float: right;
}

.filter table{
display: inline-block;    
}
.form{
    display: inline-block;
   margin-right: 75px;
   column-width: 200px;
    
}
.reports{
    margin-block: 20px;
}
.T-report{
    font-weight: bold;
    float: centre;
    
}