// .site-card-border-less-wrapper {
//     // padding: 20px;
//     // background: black;
//     // //border-color: black;
//     // //margin: 0%;
//     // background-color:#dfe6eb;
//   }


.cover{
  height: 400px;
}

.msg{
  font-weight: bold;
  color: darkslategray;
  font-size: 24px;
}

.msg2{
  font-weight: bold;
  color: rgb(20, 94, 94);
  font-size: 18px;
}
.card-wrapper-student-dash {
    display: flex;
    flex-wrap: wrap;
    
    //justify-content: space-between;
  }
  .card{
    
    border-radius: 10px;
    border-width: thick;
    background-color: rgb(197, 243, 176);
    :hover{
    border-radius: 10px;
    background-color: rgb(202, 186, 92);
    font-weight: bold;
    }
  }

/*
.card-wrapper-student-dash {
  display: flex;
  flex-wrap: wrap;
  .ant-card-body {
    padding: 14px;
  }
  .ant-card {
    margin: 5px;
  }
  //justify-content: space-between;
}

*/

@media only screen and (max-width: 575px) {
  .card-wrapper-student-dash {
    .ant-card {
      margin: 5px auto;
    }
    //justify-content: space-between;
  }
}
.site-calendar-demo-card {
  width: 260px;
  height: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

.anncard {
  .ant-card-body {
    height: 450px;
    overflow-y: scroll;

    .ant-list-item {
      background-color: #00bcd438;
      margin-bottom: 5px;

      &:hover {
        background-color: #00bbd456;
      }
    }
  }
}

.teachercard {
  .ant-card-body {
    height: 450px;
    overflow-y: scroll;

    .ant-list-item {
      background-color: aliceblue;
      margin-bottom: 5px;
      // margin: 5px;
      &:hover {
        background-color: rgb(211, 234, 255);
      }
    }
  }
}
