

.site-card-wrapper{
   flex-wrap: initial;
    flex-direction: row;
    

}
.details{
    //font-family: source-serif-pro;
    color: black;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 40px;
    font-weight: bold;
    
}

.title{
   
    font-size: 20px;
    font-display: bold;

}

.enroll1 {
    margin-right: 20px;
    background-color: rgb(192, 134, 178);
}

.view1 {
    margin-right: 20px;
    background-color: rgb(192, 134, 178);
}


.card-body1{
    background-color: rgb(192, 134, 178);
    border-radius: 10px;
    
    :hover{
        background-color: #6b1752 ;

color: white;
font-size: 16px;

    }
    
}

.enroll2 {
    margin-right: 20px;
    background-color: rgb(236, 178, 69);
}

.view2 {
    margin-right: 20px;
    background-color: rgb(236, 178, 69);
}

.card-body2{
    background-color: rgb(236, 178, 69);
    border-radius: 10px;  
    
    :hover{
        background-color: rgb(167, 111, 7);
//background-image: linear-gradient(gray,rgb(13, 13, 61));
color: white;
font-size: 16px;

    }
    
}

.enroll3 {
    margin-right: 20px;
    background-color: rgb(129, 74, 230);
}

.view3 {
    margin-right: 20px;
    background-color: rgb(129, 74, 230);
}

.card-body3{
    background-color: rgb(129, 74, 230);
    border-radius: 10px;   
    
    :hover{
        background-color: #24163a ;
//background-image: linear-gradient(gray,rgb(13, 13, 61));
color: white;
font-size: 16px;

    }
    
}
