

.site-card-wrapper{
   flex-wrap: initial;
    flex-direction: row;
    

}
.details{
    //font-family: source-serif-pro;
    color: black;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 40px;
    font-weight: bold;
    
}

.title{
   
    font-size: 20px;
    font-display: bold;

}

.enroll1 {
    margin-right: 20px;
    background-color: rgb(158, 193, 226);
    color: black;
}

.view1 {
    margin-right: 20px;
    background-color: rgb(158, 193, 226);
    color: black;
}


.card-body1{
    background-color: rgb(212, 222, 231);
    border-radius: 10px;
    
    :hover{
       
font-size: 16px;

    }
    
}

.enroll2 {
    margin-right: 20px;
    background-color: rgb(250, 227, 184);
    color: black;
}

.view2 {
    margin-right: 20px;
    background-color: rgb(250, 227, 184);
    color: black;
}

.card-body2{
    background-color: rgb(243, 229, 204);
    border-radius: 10px;  
    
    :hover{
        
font-size: 16px;

    }
    
}

.enroll3 {
    margin-right: 20px;
    background-color: rgb(209, 198, 230);
    color: black;
}

.view3 {
    margin-right: 20px;
    background-color: rgb(209, 198, 230);
    color: black;
}

.card-body3{
    background-color: rgb(210, 205, 219);
    border-radius: 10px;   
    
    :hover{
        
font-size: 16px;

    }
    
}
