.reg-container {
  background-image: url("../img/bg.png");
  background-color: #0c274f;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .topic {
    margin: auto;
    color: white;
    font-size: 3em;
    font-family: auto;
  }
}
// .ant-alert {
//   margin-bottom: 15px;
// }

.reg-form {
  padding: 20px;
  border-radius: 35px;
  
  opacity: 95%;
  //background-color: #ffffffd2;
  background-color: rgb(119, 192, 192);
  max-width: 600px;
  min-width: 370px;
  height: 95%;
  font-weight: bold;
  
  
  
}
.img-container {
  max-width: 600px;
  min-width: 200px;
  margin-top: 400px;
}
.slide-img {
  width: fit-content;
  max-width: 550px;
  min-width: 200px;
  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  .img-container {
    display: none;
  }
}
