.ant-tabs {
  .ant-tabs-nav {
    font-family: math;
  }
}
.ant-table {
  .ant-table-thead {
    .ant-table-cell {
      text-align: center;
      font-size: medium;
    }
  }
  .ant-card-head {
    background-color: #1990fc;
    font-size: small;
    color: white;
    font-family: cursive;
  }
  .ant-card-body {
    background-color: #f0f2f5;
    font-size: medium;
  }
}

.ant-tabs-tab {
  font-size: 17px;
}
// #88daff
