.ant-table {
  .ant-table-thead {
    .ant-table-cell {
      text-align: center;
      font-size: medium;
    }
  }
  .ant-card-head {
    background-color: #88daff;
    font-size: small;
  }
  .ant-card-body {
    background-color: #9e9e9e42;
    font-size: medium;
  }
}

.ant-tabs-tab {
  font-size: 17px;
}
// #88daff
