#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
}
.MainLayout {
  height: 100%;

  .header {
    padding: 0 15px;
    .logo {
      float: left;
      width: 125px;
      height: 31px;
      margin: 16px 24px 16px 0;
      background: rgba(255, 255, 255, 0.3);
      color: white;
      font-weight: 500;
      text-align: center;
      line-height: 31px;
    }
    .logtext {
      float: right;
      // margin: 16px 24px 16px 0;
      padding: 16px 0;
      color: white;
      line-height: 31px;
      margin-right: 10px;
    }
    .ant-avatar {
      margin-right: 5px;
      margin-bottom: 2px;
    }
    .logoutbtn {
      float: right;
      margin: 16px 0 16px 0;
    }
    .notification-bell {
      float: right;
      margin: 7px 0;
      margin-right: 5px;
      width: 50px;
      height: 50px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: #002f5c;
      }
      .icon {
        color: white;
        font-size: large;
        // padding: 1px 5px;
      }
    }
  }
}
$noto-border-color: #c0c0c0;
.noti-con {
  border-bottom: 1px solid $noto-border-color;
  border-top: 1px solid $noto-border-color;
  .ant-list-item {
    border-bottom: 1px solid $noto-border-color;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: #efefefbd;
    }
    .ant-list-item-action {
      margin-left: 0;
    }
  }
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 575px) {
  .App {
    height: max-content;
  }

  .ant-layout-sider {
    position: fixed;
    z-index: 5;
  }
  .mainlayout {
    margin-left: 60px;
  }
}

.sc-bar::-webkit-scrollbar {
  width: 0.7rem;
}

.sc-bar::-webkit-scrollbar-track {
  background: #dbdbdb;
}

.sc-bar::-webkit-scrollbar-thumb {
  background: #1990fc;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: #dbdbdb;
}

body::-webkit-scrollbar-thumb {
  background: #1990fc;
}
